@import "tailwindcss";


body {
  @apply bg-slate-950 text-white antialiased;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}
